* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1440px;
    height: 1024px;
}

.escrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 566px;
    height: 352px;
    margin-left: 344px;
    margin-top: 85px;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 151px;
    height: 472px;
    margin-left: 35px;
    margin-top: 85px;
}

h1 {
    color: #333333;
    font-size: 64px;
}

p {
    color: #333333;
    font-size: 24px;
    line-height: 32px;
    margin-top: 41px;
    margin-bottom: 40px;
}

button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #333333;
    border: none;
    font-size: 22px;
    border-radius: 40px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 12px;
    padding-right: 12px;
    width: 222px;
    height: 66px;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.imgs2 {
    display: flex;
    gap: 51px;
    margin-left: 43px;
    margin-bottom: 43px;
    width: 1412px;
    height: 348px;
    align-self: flex-end;
}